Package: com.ps.recordpause
Name: RecordPause
Depends: mobilesubstrate, firmware (>= 9.0)
Conflicts: org.thebigboss.recordpause, com.spicat.recordpause
Version: 1.0.0
Architecture: iphoneos-arm
Description: Pause/resume video recording.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
