Package: com.spicat.recordpause
Name: RecordPause (iOS 9+)
Depends: mobilesubstrate, firmware (>= 9.0), ws.hbang.common (>= 1.2)
Conflicts: org.thebigboss.recordpause
Version: 1.0.0
Architecture: iphoneos-arm
Description: Pause/resume video recording.
Maintainer: SpicaT
Author: SpicaT
Section: Tweaks
Icon: file:///Library/PreferenceLoader/Preferences/RecordPause/RP@2x.png
