<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>title</key>
    <string>RecordPause</string>
    <key>entry</key>
    <dict>
      <key>cell</key>
      <string>PSLinkCell</string>
      <key>icon</key>
      <string>RP.png</string>
      <key>label</key>
      <string>RecordPause</string>
    </dict>
    <key>items</key>
    <array>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>Enable Tweak</string>
      </dict>
       <dict>
        	<key>cell</key>
        	<string>PSSwitchCell</string>
        	<key>PostNotification</key>
        	<string>com.PS.RecordPause.prefs</string>
        	<key>default</key>
        	<true/>
        	<key>defaults</key>
        	<string>com.PS.RecordPause</string>
        	<key>key</key>
        	<string>tweakEnabled</string>
        	<key>label</key>
        	<string>Enabled</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>When recording paused</string>
      </dict>
      <dict>
        	<key>cell</key>
        	<string>PSSwitchCell</string>
        	<key>PostNotification</key>
        	<string>com.PS.RecordPause.prefs</string>
        	<key>default</key>
        	<true/>
        	<key>defaults</key>
        	<string>com.PS.RecordPause</string>
        	<key>key</key>
        	<string>dimScreen</string>
        	<key>label</key>
        	<string>Dim preview (iOS &lt; 9)</string>
        	<key>pl_filter</key>
			<dict>
				<key>CoreFoundationVersion</key>
				<array>
					<string>1240.10</string>
					<string>9999.00</string>
				</array>
			</dict>
      </dict>
       <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerAlignment</key>
        <integer>1</integer>
        <key>footerText</key>
        <string>© 2013 - 2017 Thatchapon Unprasert
(@PoomSmart)</string>
      </dict>
    </array>
  </dict>
</plist>
